.sidebar {
  list-style: outside none none;
  padding: 0;
}
.sidebar li {
  background: hsl(235, 13%, 18%) none repeat scroll 0 0;
  margin: 5px 0;
  padding: 10px;
}
.sidebar a::before {
	content: "\2192";
}
.archive a::before{
  content: none;
}
.sidebar a {
  border: 0 none;
  color: hsl(0, 0%, 100%);
}
.sidebar li:hover a {

	margin-left: 10px;
	transition: 0.5s;
}

/*Singe Page*/

.wrapper{
  overflow: hidden;
}

.wrapper > section.content {
  float: left;
  margin-right: 2%;
  padding: 2%;
  width: 65%;
  overflow: hidden;
}
.wrapper > section.sidebar {
  float: left;
  padding: 2%;
  width: 25%;
  margin-left: 1%;
  overflow: hidden;
}

#footer{
  overflow: hidden;
}

.archive_content {
  background: #282934 none repeat scroll 0 0;
  margin: 10px 0;
  padding: 30px;
  border-radius: 5px;
}

.read-more {
  background: #1c1d26 none repeat scroll 0 0;
  clear: both;
  display: table;
  padding: 2px 9px;
}

.user-sec {
  clear: both;
  margin-top: 50px;
  overflow: hidden;
  padding-right: 50px;
  text-align: right;
  width: 100%;
}
.reg, .log {
  background: rgb(40, 41, 52) none repeat scroll 0 0;
  margin-top: 8px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}
.reg:hover {
  color: #FFF !important;
}
.log:hover {
  color: #FFF !important;
}
.suc-msg {
  text-align: center;
}
.suc-msg h3 {
  color: green;
  font-weight: bold;
}